.header {
  background-color: #fff;
  padding: 4rem;
  overflow: hidden;
  height: 3.2rem;
  border-bottom: 1px solid;
}

.header_logo {
  color: #1390ff;
  font-size: 1.4rem;
  text-align: left;
}

/* .3rem 是0.3 根元素的 font-size 的意思 */
.header_text {
  color: #999;
  font-size: 0.6rem;
  padding-left: 0.3rem;
  display: inline-block;
}

.ant_menu {
  line-height: 2.8rem;
}

.ant_menu_item {
  font-size: 0.7rem !important; /* !important 意思是以这里定义的属性为优先*/
  padding-left: 1rem;
  padding-right: 1rem;
}

.header_menu_icon {
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}
