.bread_div {
  padding: .5rem;
  border-bottom: 1px solid #eee;
  background-color: #e1f0ff;
}

.detailed_title {
  font-size: 1.8rem;
  text-align: center;
  padding: qrem;
}

.detailed_content {
  padding: 1.3rem;
  font-size: 1rem;
}

.detailed_nav {
  margin-top: .5rem;
}

.nav_title{
  text-align: center;
  color: #888;
  border-bottom: 1px solid rgb(30, 144, 255);
  font-size: 1rem;
 
}
.article_menu{
  font-size:12px;
}

.list_icon {
  text-align: center;
  padding-top: .5rem;
}

.list_icon span {
  padding-left: .5rem;
  padding-right: .5rem;
}

.center {
  text-align: center;
}